body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  font-family: Nunito !important;
}

span {
  font-size: 100px;
  display: inline-block;
  font-weight: 1000;
  color: #33afff;
}

.blue {
  color: #33afff;
}

.orange {
  color: #e8c060;
}

.green {
  color: #65c3ad;
}

.red {
  color: #dc6b6b;
}

.formDiv {
  width: 100% !important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 38px;
}

.inputItem {
  padding: 6px !important;
  padding-left: 10px !important;
  width: 300px;
  border: 1px solid #ededed !important;
  border-radius: 5px !important;
  height: 100%;
  margin-right: 1em;
  margin-bottom: 1em;
}

.buttonItem {
  width: 120px;
  height: 100%;
  color: #ffffff !important;
  background: #ffb347 !important;
  outline: none !important;
  box-shadow: none !important;
  border-color: #ffb347 !important;
  padding: 8px !important;
}

#privacy {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.privacyDiv {
  margin: 0 auto;
  text-align: center;
}

a:not(:last-child) {
  margin-right: 1em !important;
}

a {
  color: #000 !important;
  text-decoration: underline !important;
}
